* {
  box-sizing: border-box; 
  margin: 0;
  /*color: #172121;*/
  color:  #135450;
}

@font-face {
  font-family: bggfont;
  src: url(Apercu/apercu_regular_pro.otf);
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f3f5f3;
  flex-direction: column;
  font-family: bggfont;
  padding: 0;
}

.topbar {
  display: flex;
  width: 100%;
  height: 120px;
  top: 0;
  background-color: black;
  z-index: 3;
  justify-content: center;
  background-color: #A1B09D;
  /*background-color: #135450;*/
}


.logo {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 10px;
}

.logo img {
  max-width: 300px;
  max-height: 150px;

}

span {
  position: fixed;
  top: 10px;
  right: 5px;
  font-size: 4em;
  z-index: 4;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color:  #A1B09D; 
  overflow-x: hidden;
  transition: 0.5s;
  align-items: center;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f3f5f3;
  display: block;
  transition: 0.3s;
  background-color: #135450;
  margin: 1px;


}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



a:link,
a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}









  /*For smaller screens*/
  @media(max-width: 700px) {

    .overlay .closebtn {
      width: 30px;
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 1.7em;
    }
    

    .overlay a {font-size: 1.5em}

    span {
      position: fixed;
      top: 5px;
      right: 5%;
      font-size: 2.5em;
      z-index: 4;
    }

    .topbar {
      display: flex;
      position: fixed;
      width: 100%;
      height: 60px;
      top: 0;
      background-color: black;
      z-index: 3;
      justify-content: center;
      background-color: #A1B09D;
      /*background-color: #135450;*/
    }

    .logo {
      display: flex;
      justify-content: center;
      width: 150px;
      margin-top: 5px;
    }

    .logo img {
      max-width: 100%;
      max-height: 100%;
      
    }

  }