* {
  box-sizing: border-box; 
  margin: 0;
  /*color: #172121;*/
  color:  #135450;
}




body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f3f5f3;
  flex-direction: column;
  font-family: bggfont;
  padding: 0;
}

.topbar {
  display: flex;
  width: 100%;
  height: 120px;
  top: 0;
  background-color: black;
  z-index: 3;
  justify-content: center;
  background-color: #A1B09D;
  /*background-color: #135450;*/
}

.logo {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 10px;
}

.overlay-logo,
.logo img {
  max-width: 300px;
  max-height: 150px;
}



span {
  position: fixed;
  top: 10px;
  right: 5px;
  font-size: 4em;
  z-index: 4;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color:  #A1B09D; 
  overflow-x: hidden;
  transition: 0.5s;
}


.overlay-logo {
  display: flex;
  position: relative;
  left: 32%;
  top: 10px;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f3f5f3;
  display: block;
  transition: 0.3s;
  background-color: #135450;
  margin: 1px;
}

.overlay-content .logo {

}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.newsletter {
  display: flex;
  justify-content: center;
  margin: 50px 0px 40px 0px;
}

footer {
  background-color: #A1B09D;
  width: 100%;
  margin: 40px 0px 0px 0px; 
}

.social-media {
  display: flex;
  justify-content: center; 
  padding-bottom: 30px;
}

.social-media img {
  width: 60px;
  height: 60px;
  margin: 0px 3px 0px 3px;
}

.social-media a img:hover {
  opacity: 0.7;
  cursor: pointer;
}


a:link,
a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}









  /*For smaller screens*/
  @media screen and (max-width: 700px) {

    .overlay .closebtn {
      width: 30px;
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 1.7em;
    }
    

    .overlay a {font-size: 1.5em}

    span {
      position: fixed;
      top: 5px;
      right: 5%;
      font-size: 2.5em;
      z-index: 4;
    }

    .topbar {
      display: flex;
      position: fixed;
      width: 100%;
      height: 60px;
      top: 0;
      background-color: black;
      z-index: 3;
      justify-content: center;
      background-color: #A1B09D;
      /*background-color: #135450;*/
    }

    .logo {
      display: flex;
      justify-content: center;
      width: 150px;
      margin-top: 5px;
    }

    .logo img {
      max-width: 100%;
      max-height: 100%;
      
    }

    .overlay-logo {
      position: absolute;
      left: 2%;
      top: 10px;
      height: 60px;
    }

    .social-media img {
      width: 50px;
      height: 50px;
      margin: 0px 3px 0px 3px;
    }

  }



/* All of the code is for the news letter 
http://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css*/
#mc_embed_signup{background:#fff; display: flex; flex-direction: column; clear:left; font:14px Helvetica,Arial,sans-serif; width:40%;}
#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width: 350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 13px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 700px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 40%; margin:0; }
    #mc_embed_signup{background:#fff; display: flex; flex-direction: column; clear:left; font:14px Helvetica,Arial,sans-serif; width:80%;}
}


